h1{
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
}

h2{
    color: blue;
    text-decoration:underline;
    font-weight: bold;
     text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
     text-align: center;
}

h3{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body{
    background-color: lightblue;
}
